body {
  font-family: serif;
  height: 100%;
}

#main_container {
  position: relative;
  display: flex;
  width: 100%;
}

.concept {
  position: absolute;
  font-size: 40px;
  padding-left: 50px;
  color: black;
}

#main_container > img{
  width: 75%;
}

.headline_2 {
  font-size: 35px;
  text-align: center;
  padding-top: 20px;
}

/* ヘッダー・ナビ */
header {
  width: 25%;
  background-color: black;
}

header > img {
  width: 70%;
  margin: 50px auto 0 auto;
  display: block;
}

.nav_pc {
  width: 150px;
  margin: 60px auto 0px auto;
  color: #ffffff;
}

.nav_pc li {
  list-style: none;
  margin-top: 20px;
  letter-spacing: 2px;
}

/* 事業内容 */
.services {
  width: 100%;
  margin-top: 80px;
  background-color: rgb(233, 232, 232);
  padding-bottom: 45px;
}

.services img {
  width: 300px;
}

.services_explain {
  position: relative;
  padding: 0 60px;
  width: 600px;
  background-color: rgb(248, 245, 245);
}

.detail_link {
  position: absolute;
  bottom: 35px;
  right: 136px;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: rgb(88, 88, 88);
  color: #ffffff;
}

.detail_link_desmantle {
  position: absolute;
  left: 130px;
  bottom: 35px;
  padding: 17px 20px;
  border-radius: 5px;
  background-color: rgb(88, 88, 88);
  color: #ffffff;
}

.services_number {
  font-size: 70px;
  color: rgb(179, 179, 179);
  font-weight: bold;
  z-index: 1;
}

.headline_3 {
  font-size: 40px;
  margin: 0;
  z-index: 2;
}

.construction {
  display: flex;
  justify-content: center;
  margin: 50px auto;
}

.dismantle {
  display: flex;
  justify-content: center;
  margin: 50px auto;
  flex-direction: row-reverse;
}

.agriculture {
  display: flex;
  justify-content: center;
  margin: 50px auto 0px auto;
}


