body {
  height: 100%;
}

#main_container {
  display: flex;
  width: 100%;
}

#main_container > img{
  width: 75%;
}

header {
  width: 25%;
  background-color: black;
}

header > img {
  width: 70%;
  margin: 50px auto 0 auto;
  display: block;
}

.nav_pc {
  width: 70%;
  margin: auto;
  color: #ffffff;
}

.nav_pc li {
  list-style: none;
  margin-top: 30px;
}