body {
  font-family: serif;
  height: 100%;
}

a {
  text-decoration: none;
}

 a:hover {
  color: rgb(250, 15, 160);
}

#main_container {
  position: relative;
  display: flex;
  width: 100%;
}

.concept {
  position: absolute;
  font-size: 40px;
  padding-left: 50px;
  color: black;
}

#main_container > img{
  width: 75%;
}

.headline_2 {
  font-size: 35px;
  text-align: center;
  padding-top: 40px;
  margin: 0px auto 50px auto;
}

.space_10 {
  margin-left: 10px;
}


.space_20 {
  margin-left: 20px;
}
/* ヘッダー・ナビ */
header {
  width: 25%;
  background-color: black;
}

header  img {
  width: 70%;
  margin: 50px auto 0 auto;
  display: block;
}

.nav_pc {
  width: 180px;
  margin: 20px auto 0px auto;
  padding-left: 93px;
  font-size: 20px;
}

.nav_pc a {
  display: inline-block;
  list-style: none;
  margin-top: 20px;
  letter-spacing: 2px;
  color: #ffffff;
}

.nav_pc > a:hover {
  color: blueviolet;
}

/* 事業内容 */
.services {
  width: 100%;
  margin-top: 80px;
  background-color: rgb(233, 232, 232);
  padding-bottom: 45px;
}

.services img {
  width: 300px;
}

.services_explain {
  position: relative;
  padding: 0 60px;
  width: 600px;
  background-color: rgb(248, 245, 245);
}

.services a {
  color: #ffffff;
}

.detail_link {
  position: absolute;
  bottom: 35px;
  right: 136px;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: rgb(88, 88, 88);
  color: #ffffff;
}

.detail_link_desmantle {
  position: absolute;
  left: 130px;
  bottom: 35px;
  padding: 17px 20px;
  border-radius: 5px;
  background-color: rgb(88, 88, 88);
  color: #ffffff;
}

.services_number {
  font-size: 70px;
  color: rgb(179, 179, 179);
  font-weight: bold;
  z-index: 1;
}

.headline_3 {
  font-size: 40px;
  margin: 0;
  z-index: 2;
}

.construction {
  display: flex;
  justify-content: center;
  margin: 50px auto;
}

.dismantle {
  display: flex;
  justify-content: center;
  margin: 50px auto;
  flex-direction: row-reverse;
}

.agriculture {
  display: flex;
  justify-content: center;
  margin: 50px auto 0px auto;
}

/* 会社情報 */
.corporation {
  position: relative;
}

.corporation a {
  color: black;
}

.corporation img {
  width: 60%;
  height: 480px;
  clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%);
}

.corporation_comment {
  position: absolute;
  background-color: #ffffff;
  padding: 10px 20px;
  font-size: 18px;
  top: 170px;
  right: 0;
}

.corporation_link_overview{
  position: absolute;
  width: 170px;
  right: 40px;
  bottom: -140px;
  padding: 17px 20px;
  border-bottom: 2px solid rgb(88, 88, 88);
}

.corporation_link_greeting{
  position: absolute;
  width: 170px;
  right: 40px;
  bottom: -210px;
  padding: 17px 20px;
  border-bottom: 2px solid rgb(88, 88, 88);
}

.contact {
  position: absolute;
  width: 170px;
  right: 40px;
  bottom: -280px;
  padding: 17px 20px;
  border-bottom: 2px solid rgb(88, 88, 88);
}

/* 求人募集 */
.recruit {
  display: flex;
  justify-content: center;
  height: 250px;
  margin-top: 70px;
  padding-top: 3px;
}

.recruit_left {
  width: 40%;
  text-align: right;
  padding-right: 50px;
}

.recruit_right {
  width: 60%;
  padding-left: 30px;
}

.recruit_right p {
  font-size: 18px;
  margin: auto;
}

.detail_link_recruit {
  position: absolute;
  right: 80px;
  bottom: 20px;
  padding: 17px 20px;
  border-radius: 5px;
  background-color: rgb(88, 88, 88);
  color: #ffffff;
}

/* フッター */
footer {
  display: flex;
  height: 300px;
  background-color: black;
  color: #ffffff;
  margin-top: 50px;
  padding: 10px 30px 0px 30px;
}

.footer_left {
  margin: auto;
}

.footer_left p {
  margin: 5px 0 ;
}

.footer_right {
  margin: auto;
}

.footer_left img{
  display: inline-block;
  width: 100px;
}

.copyright {
  background-color: black;
  margin: 0;
  color: #ffffff;
  text-align: right;
  padding-right: 20px;
}

/* 事業内容*/
#container_sub {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: black;
  width: 100%;
  padding: 30px 0;
}

.type {
  display: inline-block;
  font-size: 50px;
  padding-left: 80px;
  color: #ffffff;
  font-weight: bold;
}

.header_sub {
  width: 25%;
  background-color: black;
  border-left: 2px solid rgb(88, 88, 88);
}

.nav_sub {
  position: absolute;
  bottom: 0px;
  left: 200px;
  display: flex;
  color: #ffffff;
}

.nav_sub p {
  display: block;
  width: 100px;
  border-left: 3px double rgb(179, 179, 179);
  margin: 0 20px 45px 0;
  padding-left: 15px;
}

.header_sub > img {
  width: 50%;
  margin: 30px auto 0 auto;
  display: block;
}

.nav_pc_sub {
  width: 150px;
  margin: 30px auto 0px auto;
  padding-right: 10px;
  color: #ffffff;
  font-size: 18px;
}

.nav_pc_sub li {
  list-style: none;
  margin-top: 10px;
  letter-spacing: 2px;
}

/* 建築工事 */
.construction_ditail{
  display: flex;
  justify-content: center;
  margin: 40px auto 30px auto;
  width: 90%;
}

.headline_4 {
 font-size: 36px;
 margin: 50px auto 30px auto;
 padding: 20px 0 10px 100px;
 border-bottom: 3px solid rgb(179, 179, 179);
}

.headline_4 span {
  font-size: 36px;
  padding-left: 40px;
}

.construction_img {
  width: 270px;
}

.construction_img img {
  width: 100%;
  border-radius: 5px;
}

.construction_record {
  width: 370px;
  padding: 40px 0 0 50px;
}

.construction_explain p {
  margin:0;
}

/* 会社概要 */
.outline {
  width: 1000px;
  margin: auto;
}

.outline_table > tbody > tr > th {
  width: 150px;
  padding: 12px 20px;
  border-bottom: 2px solid rgb(88, 88, 88);
  text-align: center;
  height: 60px;
  text-align: justify;
  text-align-last: justify;
}

.outline_table > tbody > tr > td {
  width: 800px;
  padding: 12px 0 12px 50px;
  border-bottom: 1px solid rgb(182, 182, 182);
  height: 60px;
  letter-spacing: 6px;
}

/* 代表あいさつ */
.greeting {
  display: flex;
  justify-content: center;
  margin: 50px auto;
}

/* 代表あいさつ */
.greeting img {
  width:400px;
}

.comment {
  width: 600px;
  font-size: 18px;
  padding: 0 0 0 40px;
}


