body {
  font-family: "Source Sans Pro","Hiragino kaku Gothic ProN", Meiryo, Arial, sans-serif;
  margin: 0 auto 0 auto;
  padding: 0;
}
h1 {
  margin:  0;
  padding: 0;
}

h2 {
  font-size: 26px;
  margin: 0;
  text-align: center;
  padding: 30px 40px;
  letter-spacing: 3px;
}

h2::after {
  content: url("/image/borderline.png");
  margin-left: 10px;
}

h3 {
  font-size: 22px;
  margin: 0;
}

p {
  font-size: 16px;
  padding: 0;
  margin: 0;
}

article {
  max-width: 1300px;
  min-width: 1200px;
  margin: 0 auto;
}

/* PC用のスタイル */
/* ヘッダー */
header {
  min-width: 1200px;
  background-color: #ffffff;
}
#header-logo {
  display: flex;
  justify-content: space-between;
  margin: 0 200px 0 200px;
  align-items: end;
}

#logo img {
  width: 380px;
}

.header-tel {
  font-weight: bold;
  font-size: 20px;
  padding-left: 10px;
}

.header-closed {
  margin: 5px 0 10px 0;
  color: red;
}

/* ナビゲーション */
#nav-pc {
  text-align: center;
  font-size: 16px;
  padding: 10px 0 10px 0px;
  background-color: rgb(70, 2, 2);
  width: 100%;
}

/* ナビゲーションリンクの装飾 */
#nav-pc > a {
  text-decoration: none;
  margin-left: 40px;
  color: #ffffff;
}

#nav-pc > a:link {
  color: #ffffff;
}

#nav-pc > a:visited {
  color: #ffffff;
}
#nav-pc > a:hover {
  color: #ffffff;
  text-decoration: underline;
}

#nav-pc > a:active {
  color: #ffffff;
}

/* メインビジュアル */
#main-visual {
  position: relative;
  height: 600px;
  margin: 0;
}

#main-visual > img {
  width: 100%;
  height: 600px;
}

#main-message {
  position: absolute;
  width: 40%;
  height: 560px;
  font-size: 30px;
  padding: 20px;
  color: #ffffff;
  text-align: center;
  top: 0;
  left: 0;
  font-family: 'arial unicode ms';
  letter-spacing: 5px;
  background-color: rgba(187, 100, 29, 0.41);
  border-radius: 0 0 500px 0;
}

#main-message_1 {
  position: absolute;
  top: 190px;
  left: 86px;
}

#main-message_1 > p {
  padding: 20px 10px 10px 10px;
  letter-spacing: 2px;
}

#information {
  width: 100%;
  height: 300px;
  background-color: rgb(255, 246, 242);
}

#infomation-cl {
  width: 100%;
  height: 600px;
}

#hours {
  width: 50%;
}

#hours > h3 {
  text-align: center;
}

.hyoubou {
  margin: 10px 0 0 0;
  font-size: 20px;
}

.hours-1 {
  margin: 0 0 0 130px;
}

.hours-1 > span {
  padding-left: 21px;
  display: block;
  line-height: 1.8;
}

.timetable ,th ,td {
  text-align: center;
  padding: 10px;
  border: 1px solid;
}







