body {
  font-family: "Source Sans Pro", "Hiragino Kaku Gothic ProN", Meiryo, Arial, sans-serif;
  margin: 0 auto 0 auto;
  padding: 0;
  min-width: 1200px;
  max-width: 1850px;
}
h1 {
  margin:  0;
  padding: 0;
}

h2 {
  font-size: 28px;
  text-align: center;
  padding: 30px 40px;
  letter-spacing: 3px;
  margin: 0;
}

h3 {
  font-size: 22px;
  margin: 0;
}

h4 {
  margin: 0;
}
p {
  font-size: 16px;
  padding: 0;
  margin: 0;
}

article {
  margin: auto;
}

/* PC用のスタイル */
/* ヘッダー */
header {
  background-color: #ffffff;
}
#header-logo {
  display: flex;
  justify-content: center;
  margin: 0 50px;
}

#logo img {
  width: 290px;
  margin-right: 380px;
  padding-top: 10px;
}

.header-tel {
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
  padding-top: 10px;
}
#header-logo > div {
  position: relative;
}
#header-logo > div > p {
  color: rgb(55, 180, 61);
  font-weight: bold;
  position: absolute;
  position: absolute;
  left: 50px;
  top: 5px;
}

#header-logo > span {
  height: 50px;
}
.header-closed {
  color: red;
  font-size: 14px;
}

/* ナビゲーション */
#nav-pc {
  text-align: center;
  width: 700px;
  margin: 0 auto;
  font-size: 16px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

/* ナビゲーションリンクの装飾 */
#nav-pc > a {
  text-decoration: none;
  color: #333;
}

#nav-pc > a:link {
  color: #333;
}

#nav-pc > a:visited {
  color: #333;
}
#nav-pc > a:hover {
  color:rgb(55, 180, 61);
}

#nav-pc > a:active {
  color: #333;
}

/* メインビジュアル */
#main-visual {
  position: relative;
  height: 700px;
  margin: 0;
}

#main-visual > img {
  width: 100%;
  height: 700px;
}

#main-message {
  position: absolute;
  width: 500px;
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  top: -50px;
  right: 100px;
  letter-spacing: 5px;
}

#main-message_1 {
  position: absolute;
  top: 100px;
  left: 86px;
}

#main-message_1 > p {
  padding: 20px 10px 10px 10px;
  letter-spacing: 2px;
}

/* サブナビ */
#nav-sub {
  width: 900px;
  margin: 10px auto;
  padding-top: 10px;
}

/* お知らせ */
#information {
  width: 1200px;
  height: 350px;
  padding: 0 50px;
  margin: auto;
  background-color: rgba(220, 250, 211, 0.932);
  border-radius: 30px;
}

.news-list {
  list-style: none outside;
  margin: auto;
  padding: 0;
}

.item a {
  display: flex;
  flex-wrap: wrap;
  flex-wrap: nowrap;
  text-decoration: none;
  color: #333;
  border-bottom: 1px solid rgb(182, 182, 182);
  padding: 20px 20px;
  background-color: #ffffff;
}

.item:first-child a {
  border-top: 1px solid rgb(182, 182, 182);
}

.item .date {
  margin: 0;
  min-width: 140px;
  font-size: 16px;
  color: #999;
  padding: 0 20px 0 0;
}

.item .category {
  margin: 0;
  min-width: 140px;
  padding: 0 20px 0 0;
}

.item .category span {
  background-color: #999;
  width: 70px;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  padding: 5px 20px;
  font-size: 12px;
  line-height: 1;
  text-align: justify;
  text-align-last: justify;
}

.item .title {
  margin: 0;
  width: 100%;
}

.item a:hover .title {
  color: rgb(55, 180, 61);
}

/* 診療案内 */
#examination_guide {
  width: 1300px;
  margin: 0 auto;
}

#guide {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.guide_left {
  width: 450px;
  height: 430px;
  position: relative;
}

.guide_right {
  width: 450px;
  height: 430px;
  margin-left: 150px;
  position: relative;
}

.guide_name_left {
  position: absolute;
  top: -60px;
  left: -30px;
  width: 450px;
  height: 430px;
  padding-top: 10px;
  background-color:rgb(141, 233, 146) ;
  font-size: 28px;
  color: #ffffff;
  z-index: 1;
  text-align: center;
}

.guide_name_right {
  position: absolute;
  top: -60px;
  right: -30px;
  width: 450px;
  height: 430px;
  padding-top: 10px;
  background-color:rgb(141, 233, 146) ;
  font-size: 28px;
  color: #ffffff;
  z-index: 1;
  text-align: center;
}

.guide_name h4 {
  margin-top: 0;
  padding-top: 10px;
}

#guide img {
  position: absolute;
  width: 450px;
  height: 430px;
  box-shadow: 0 0 10px #999;
  z-index: 2;
}

#guide_content {
  display: flex;
  justify-content: center;
  height: 80px;
  margin: 50px 0 10px 0;
}

.guide_content_left {
  width: 450px;
  padding-right: 20px;
}

.guide_content_right {
  width: 450px;
  margin-left: 150px;
}

.guide_content_p {
  font-weight: bold;
}

/* 診療時間 */
#examination_hours {
  width: 1300px;
  height: 320px;
  margin: 0 auto;
}
#guide_hours {
  display: flex;
  justify-content: center;
}

.guide_hours_left {
  width: 475px;
  height: 320px;
}

.guide_hours_right {
  width: 475px;
  height: 320px;
  margin-left: 150px;
}

.hours-p {
  margin: 10px 0 0 0;
  font-size: 16px;
  font-weight: bold;
}

.hours-1 {
  margin: 20px 0;
}

.hours-1 > span {
  padding-left: 21px;
  display: block;
  line-height: 1.8;
}

.timetable {
  border-collapse: collapse;
}

.timetable > tbody > tr > th {
  text-align: center;
  padding: 10px 16px;
  border: 1px solid rgb(182, 182, 182);
}

.timetable > tbody > tr > td {
  text-align: center;
  padding: 10px 17px;
  border: 1px solid rgb(182, 182, 182);
}

.timetable th {
  background-color: rgb(55, 180, 61);
  color: #ffffff;
}
.reception {
  color: red;
  font-weight: bold;
  margin-left: 5px;
  }

/* 受診される方へ */

#consult {
  width: 1300px;
  height: 400px;
  margin: 0 auto;
}
.initial {
  display: flex;
  justify-content:center
}

.initial_left {
  width: 600px;
  line-height: 2;
}

.initial_right {
  width: 400px;
  height: 170px;
  padding: 15px 0 0 50px;
  border: 1.5px solid #333;
  border-radius: 30px;
  margin: 30px 0 0 30px;
}

.initial_left span {
  margin: 10px 0;
  background-color: rgba(220, 250, 211, 0.932);
  border-radius: 10px;
  width: 600px;
  padding: 2px 15px;
}

/* 医院概要 */
#access-information {
  width: 100%;
  min-width: 1300px;
  height: 640px;
  background-color: rgba(220, 250, 211, 0.932);
  margin-top: 30px;
}

#access-information > div {
  display: flex;
  justify-content: center;
}
.infomation-cl {
  width: 420px;
  margin:5px 0 0 0;
}

.vision {
  border-collapse: collapse;
}

.vision > tbody > tr > th {
  padding: 12px 20px;
  border-bottom: 1px solid rgb(70, 2, 2);
  text-align: justify;
  text-align-last: justify;
}

.vision > tbody > tr > td {
  padding: 12px 20px;
  border-bottom: 1px solid rgb(182, 182, 182);
}

#feature-1 {
  width: 100%;
  display: flex;
}

.feature-content {
  width: 50%;
}

#feature-1 > img {
  width: 40%;
}


/* アクセス */
#access {
  width: 650px;
  height: 450px;
  margin-left: 80px;
}

.access-way {
  margin-top: 20px;
}

.access-way_1 {
  display: flex;
  width: 500px;
  height: 100px;
  margin: 0;
}

.access-way_1 > img {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.access-way_1 > span {
  margin-left: 10px;
  padding-top: 17px;
}

/* フッター */
footer {
  width: 100%;
  min-width: 1300px;
  height: 100px;
  margin-top: 20px;
  background-color: rgb(245, 242, 242);
  padding-top: 10px;
}

.footer-logo {
  font-weight: bold;
  font-size: 18px;
  padding-top: 15px;
  text-align: center;
  color: rgb(55, 180, 61)
}

.copyright {
  text-align: right;
  font-size: 12px;
}
/* introduction.html */
/* クリニックについて */
.submain-image {
  display: flex;
  position: relative;
  height: 355px;
  z-index: 1;
}

.submain-image > p {
  color: #ffffff;
  position: absolute;
  top: 200px;
  left: 135px;
  z-index: 2;
}

.submain-image > h1 {
  top: 130px;
  left: 130px;
  color: #ffffff;
  font-size: 45px;
  position: absolute;
  z-index: 2;

}

.submain-image > img {
  width: 100%;
  right: 0px;
  height: 350px;
  position: absolute;
}
/* クリニック概要 */
#outline {
 width: 1300px;
 margin: auto;
}

.outline_img {
  display: flex;
  justify-content: center;
}

.outline_img img {
  width: 350px;
  height: 300px;
  margin: 10px 0 30px 20px;
  border-radius: 30px;
}

#outline {
  width: 1300px;
  margin: auto;
}

.outline_table {
  width: 1050px;
  margin: auto;
  border-collapse: collapse;
}

.outline_table > tbody > tr > th {
  width: 100px;
  padding: 12px 20px;
  border-bottom: 1px solid rgb(70, 2, 2);
  text-align: center;
  height: 60px;
  text-align: justify;
  text-align-last: justify;
}

.outline_table > tbody > tr > td {
  padding: 12px 20px;
  border-bottom: 1px solid rgb(182, 182, 182);
  height: 60px;
}

/* 院長紹介 */
#docter {
  margin: 20px 0;
}

#docter-file {
  width: 930px;
  height: 390px;
  margin: 0 auto 40px auto;
}

.docter-img {
  float: right;
  width: 450px;
  height: 370px;
  box-shadow: 10px 10px 0 rgb(182, 182, 182);
  margin-left: 50px;
}

.docter-name {
  font-size: 21px;
}

.docter-birth {
  margin: 30px 0 70px 0;
}

/* 経歴・専門医・所属学会 */
#career {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
  background-color: rgba(220, 250, 211, 0.932);
}

.career-h3 {
  margin-top: 30px;
}

.career-left {
  width: 350px;
  margin:0 120px 30px 50px;
}

.career-dl > dt {
  float: left;
  line-height: 2;
}

.career-dl > dd {
  margin-left: 100px;
  line-height: 2;
}

.career-right {
  width: 350px;
}

.career-right ul {
  line-height: 2;
}

/* 医院の特徴 */

#feature > div {
  width: 1100px;
  margin: auto;
}
.feature_left {
  width: 780px;
  height: 275px;
  margin-right:auto;
}

.feature_right {
  width: 780px;
  height: 275px;
  margin-left:auto;
}

.feature-img-left {
  float: left;
  width: 250px;
  height: 250px;
  border-radius: 120px;
  box-shadow: 0 0 10px #333;
  margin: 10px 50px 10px 20px;
}

.feature-number {
  display: block;
  font-size: 48px;
  color: rgb(108, 199, 112);
  font-weight: bold;
  padding-top: 30px;
}

.feature-h3 {
  display: block;
  font-size: 21px;
  margin: 10px 0px;
}

.feature-p {
  margin: 0;
}

.feature-img-right {
  float: right;
  width: 250px;
  height: 250px;
  border-radius: 120px;
  box-shadow: 0 0 10px #333;
  margin: 10px 20px 10px 50px;
}

.feature-number {
  display: block;
  font-size: 48px;
  color: rgb(108, 199, 112);
  font-weight: bold;
  padding-top: 30px;
}

.feature-h3 {
  display: block;
  font-size: 21px;
  margin: 10px 0px;
}

/* 求人案内ページ */
.recruit-form {
  width: 90%;
  height: 300px;
  margin: auto;
  background-color: rgba(220, 250, 211, 0.932);
  border-radius: 20px;
}

.recruit-form > p {
  font-size: 18px;
  padding-top: 20px;
  text-align: center;
  padding: 30px 0 20px 0;
}

.recruit-item {
  display: flex;
  justify-content: center;
}

.recruit-type {
  width: 150px;
  margin: 10px 0;
  padding-left: 20px;
  border-bottom: 1px solid #333;
}

.recruit-notes {
  width: 800px;
  margin: 10px 0;
  padding-left: 20px;
  border-bottom: 1px solid rgb(182, 182, 182);
}

.contact {
  width: 90%;
  height: 150px;
  margin: 30px auto 50px auto;
  line-height: 2;
}

.contact h4 {
  font-size: 18px;
  padding:0 30px;
}

.contact p {
  padding-left: 50px;
}

.contact-tel {
  font-weight: bold;
}

/* お知らせページ */
#main_infomation {
  width: 800px;
  height: 400px;
  margin: auto;
  position: relative;
}

.infomation_main {
  margin-top: 50px;
}
.infomation_main p {
 display: inline-block;
}

.infomation_category {
  width: 80px;
  background-color: rgb(141, 233, 146);
  color: #ffffff;
  margin: 15px;
  border-radius: 10px;
  text-align: justify;
  text-align-last: justify;
  padding: 5px 10px;
}

.infomation_title {
  font-size: 28px;
  margin: 0 0 30px 0;
  padding: 0 50px;
}

#main_infomation > p {
  padding: 0 50px;
}

#main_infomation > img {
  position: absolute;
}