

body {
  font-family: "Source Sans Pro", "Hiragino Kaku Gothic ProN", Meiryo, Arial, sans-serif;
}
h1 {
  margin:  0;
  padding: 0;
}

h2 {
  font-size: 28px;
  text-align: center;
  padding: 30px 40px;
  letter-spacing: 3px;
  margin: 0;
}

h3 {
  font-size: 22px;
  margin: 0;
}

h4 {
  margin: 0;
}
p {
  font-size: 16px;
  padding: 0;
  margin: 0;
}

article {
  width: 100%;
}

/* PC用のスタイル */
@media screen and ( min-width: 768px) {
  
body {
  max-width: 1500px;
  min-width: 1230px;
  margin: 0 auto 0 auto;
}
header {
  background-color: #ffffff;
}
#header-logo {
  display: flex;
  justify-content: center;
  margin: 0 50px;
}

#logo img {
  width: 290px;
  margin-right: 380px;
  padding-top: 10px;
}

.header-tel {
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
  padding-top: 10px;
}
#header-logo > div {
  position: relative;
}
#header-logo > div > p {
  color: rgb(55, 180, 61);
  font-weight: bold;
  position: absolute;
  position: absolute;
  left: 50px;
  top: 5px;
}

#header-logo > span {
  height: 50px;
}
.header-closed {
  color: red;
  font-size: 14px;
}

/* ナビゲーション */
#nav-pc {
  text-align: center;
  width: 760px;
  margin: 0 auto;
  font-size: 16px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

/* ナビゲーションリンクの装飾 */
#nav-pc > a {
  text-decoration: none;
  color: #333;
}

#nav-pc > a:link {
  color: #333;
}

#nav-pc > a:visited {
  color: #333;
}
#nav-pc > a:hover {
  color:rgb(55, 180, 61);
}

#nav-pc > a:active {
  color: #333;
}

/* PCページ用　SPナビ非表示 */
#nav-sp {
  display: none;
}

#menu-sp {
  display: none;
}

/* トップページ */
/* メインビジュアル */
#main-visual {
  width: 100%;
  position: relative;
  height: 700px;
}

#main-visual img {
  width: 100%;
  height: 700px;
}

#main-message {
  position: absolute;
  width: 500px;
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  top: -50px;
  right: 100px;
  letter-spacing: 5px;
}

#main-message_1 {
  position: absolute;
  top: 100px;
  left: 86px;
}

#main-message_1 > p {
  padding: 20px 10px 10px 10px;
  letter-spacing: 2px;
}

/* サブナビ */
#nav-sub {
  width: 900px;
  margin: 10px auto;
  padding-top: 10px;
}

#sub-nav {
  text-align: center;
  width: 760px;
  margin: 0 auto;
  font-size: 16px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.introduction_3 img {
  padding-top: 7px;
}

/* サブナビゲーションリンクの装飾 */
#sub-nav > a {
  text-decoration: none;
  color: #333;
}

#sub-nav > a:link {
  color: #333;
}

#sub-nav > a:visited {
  color: #333;
}
#sub-nav > a:hover {
  color:rgb(55, 180, 61);
}

#sub-nav > a:active {
  color: #333;
}

/* お知らせ */
#information {
  width: 80%;
  height: 500px;
  padding: 0 50px;
  margin: auto;
  background-color: rgba(220, 250, 211, 0.932);
  border-radius: 30px;
}

.news-list {
  list-style: none outside;
  margin: auto;
  padding: 0;
}

.item a {
  display: flex;
  flex-wrap: wrap;
  flex-wrap: nowrap;
  text-decoration: none;
  color: #333;
  border-bottom: 1px solid rgb(182, 182, 182);
  padding: 20px 20px;
  background-color: #ffffff;
}

.item:first-child a {
  border-top: 1px solid rgb(182, 182, 182);
}

.item .date {
  margin: 0;
  min-width: 140px;
  font-size: 16px;
  color: #999;
  padding: 0 20px 0 0;
}

.item .category {
  margin: 0;
  min-width: 140px;
  padding: 0 20px 0 0;
}

.item .category span {
  background-color: #999;
  width: 70px;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  padding: 5px 20px;
  font-size: 12px;
  line-height: 1;
  text-align: justify;
  text-align-last: justify;
}

.item .title {
  margin: 0;
  width: 100%;
}

.item a:hover .title {
  color: rgb(55, 180, 61);
}

/* 診療案内 */
#examination_guide {
  width: 90%;
  margin: 30px auto;
}

#guide {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  height: 560px;
}

.guide_left {
  width: 450px;
  height: 550px;
  position: relative;
}

.guide_right {
  width: 450px;
  height: 550px;
  margin-left: 150px;
  position: relative;
}

.guide_name_left {
  position: absolute;
  top: -60px;
  left: -30px;
  width: 450px;
  height: 430px;
  padding-top: 10px;
  background-color:rgb(141, 233, 146) ;
  font-size: 28px;
  color: #ffffff;
  z-index: 1;
  text-align: center;
}

.guide_name_right {
  position: absolute;
  top: -60px;
  right: -30px;
  width: 450px;
  height: 430px;
  padding-top: 10px;
  background-color:rgb(141, 233, 146) ;
  font-size: 28px;
  color: #ffffff;
  z-index: 1;
  text-align: center;
}

.guide_name h4 {
  margin-top: 0;
  padding-top: 10px;
}

#guide img {
  position: absolute;
  width: 450px;
  height: 430px;
  box-shadow: 0 0 10px #999;
  z-index: 2;
}

.guide_content_left {
  position: absolute;
  bottom: 0;
}

.guide_content_right {
  position: absolute;
  bottom: 0;
}

.guide_content_p {
  font-weight: bold;
}

/* 診療時間 */
#examination_hours {
  width: 90%;
  margin: 0 auto;
}
#guide_hours {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.guide_hours_left {
  width: 478px;
  height: 280px;
}

.guide_hours_right {
  width: 478px;
  height: 280px;
  margin-left: 150px;
}

.hours-p {
  margin: 10px 0 0 0;
  font-size: 16px;
  font-weight: bold;
}

.hours-1 {
  margin: 20px 0;
}

.hours-1 > span {
  padding-left: 21px;
  display: block;
  line-height: 1.8;
}

.timetable {
  border-collapse: collapse;
}

.timetable > tbody > tr > th {
  text-align: center;
  padding: 10px 16px;
  border: 1px solid rgb(182, 182, 182);
}

.timetable > tbody > tr > td {
  text-align: center;
  padding: 10px 17px;
  border: 1px solid rgb(182, 182, 182);
}

.timetable th {
  background-color: rgb(55, 180, 61);
  color: #ffffff;
}
.reception {
  color: red;
  font-weight: bold;
  margin-left: 5px;
  }

/* 受診される方へ */

#consult {
  width: 90%;
  height: 400px;
  margin: 0 auto;
}
.initial {
  display: flex;
  justify-content:center;
}

.initial_left {
  width: 600px;
  line-height: 2;
}

.initial_right {
  width: 400px;
  height: 170px;
  padding: 15px 0 0 50px;
  border: 1.5px solid #333;
  border-radius: 30px;
  margin: 30px 0 0 30px;
}

.initial_left span {
  margin: 10px 0;
  background-color: rgba(220, 250, 211, 0.932);
  border-radius: 10px;
  width: 600px;
  padding: 2px 15px;
}

/* 医院概要 */
#access-information {
  width: 100%;
  height: 550px;
  background-color: rgba(220, 250, 211, 0.932);
  margin-top: 40px;
}

#access-information > div {
  display: flex;
  margin: auto;
  width: 1110px;
}
.infomation-cl {
  margin-top: 5px;
}

.vision {
  border-collapse: collapse;
}

.vision > tbody > tr > th {
  padding: 12px 20px;
  border-bottom: 1px solid rgb(70, 2, 2);
  text-align: justify;
  text-align-last: justify;
}

.vision > tbody > tr > td {
  padding: 12px 20px;
  border-bottom: 1px solid rgb(182, 182, 182);
}

#feature-1 {
  width: 100%;
  display: flex;
}

.feature-content {
  width: 50%;
}

#feature-1 > img {
  width: 40%;
}


/* アクセス */
#access {
  width: 100%;
  height: 450px;
  margin-top: 30px;
}

.access-way {
  margin-top: 20px;
}

.access-way_1 {
  display: flex;
  width: 500px;
  height: 100px;
  margin: 30px 0 0 0;
}

.access-way_1 > img {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.access-way_1 > span {
  margin-left: 10px;
  padding-top: 17px;
}

/* 広告 */
#banner {
  width: 90%;
  height: 190px;
  text-align: center;
  margin: 10px auto;
  display: flex;
  justify-content: center;
}

#banner div {
  height: 190px;
}
#banner img {
  width: 140px;
  height: 140px;
  border-radius: 10px;
  margin: 10px 40px;
}



/* フッター */
footer {
  width: 100%;
  height: 100px;
  background-color: rgb(245, 242, 242);
  padding-top: 10px;
}

.footer-logo {
  font-weight: bold;
  font-size: 18px;
  padding-top: 15px;
  text-align: center;
  color: rgb(55, 180, 61)
}

.copyright {
  text-align: right;
  font-size: 12px;
}
/* introduction.html */
/* クリニックについて */
.submain-image {
  display: flex;
  position: relative;
  height: 355px;
  z-index: 1;
}

.submain-image > p {
  color: #ffffff;
  position: absolute;
  top: 200px;
  left: 135px;
  z-index: 2;
}

.submain-image > h1 {
  top: 130px;
  left: 130px;
  color: #ffffff;
  font-size: 45px;
  position: absolute;
  z-index: 2;

}

.submain-image > img {
  width: 100%;
  right: 0px;
  height: 350px;
  position: absolute;
}
/* クリニック概要 */
#outline {
 width: 100%;
 margin: auto;
}

.outline_img {
  display: flex;
  justify-content: center;
}

.outline_img img {
  width: 350px;
  height: 300px;
  margin: 10px 0 30px 20px;
  border-radius: 30px;
}

#outline {
  width: 1300px;
  margin: auto;
}

.outline_table {
  width: 1050px;
  margin: auto;
  border-collapse: collapse;
}

.outline_table > tbody > tr > th {
  width: 100px;
  padding: 12px 20px;
  border-bottom: 1px solid rgb(70, 2, 2);
  text-align: center;
  height: 60px;
  text-align: justify;
  text-align-last: justify;
}

.outline_table > tbody > tr > td {
  padding: 12px 20px;
  border-bottom: 1px solid rgb(182, 182, 182);
  height: 60px;
}

/* 院長紹介 */
#docter {
  margin: 20px 0;
}

#docter-file {
  width: 930px;
  height: 390px;
  margin: 0 auto 40px auto;
}

.docter-img {
  float: right;
  width: 450px;
  height: 370px;
  box-shadow: 10px 10px 0 rgb(182, 182, 182);
  margin-left: 50px;
}

.docter-name {
  font-size: 21px;
}

.docter-birth {
  margin: 30px 0 70px 0;
}

.docter-from {
  margin-left: 30px;
}

/* 経歴・専門医・所属学会 */
#career {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
  background-color: rgba(220, 250, 211, 0.932);
}

.career-h3 {
  margin-top: 30px;
}

.career-left {
  width: 380px;
  margin:0 120px 30px 50px;
}

.career-dl > dt {
  float: left;
  line-height: 2;
}

.career-dl > dd {
  margin-left: 100px;
  line-height: 2;
}

.career-right {
  width: 350px;
}

.career-right ul {
  line-height: 2;
}

/* 医院の特徴 */

#feature > div {
  width: 1100px;
  margin: auto;
}
.feature_left {
  width: 780px;
  height: 275px;
  margin-right:auto;
}

.feature_right {
  width: 780px;
  height: 275px;
  margin-left:auto;
}

.feature-img-left {
  float: left;
  width: 250px;
  height: 250px;
  border-radius: 120px;
  box-shadow: 0 0 10px #333;
  margin: 10px 50px 10px 20px;
}

.feature-number {
  display: block;
  font-size: 48px;
  color: rgb(108, 199, 112);
  font-weight: bold;
  padding-top: 30px;
}

.feature-h3 {
  display: block;
  font-size: 21px;
  margin: 10px 0px;
}

.feature-p {
  margin: 0;
}

.feature-img-right {
  float: right;
  width: 250px;
  height: 250px;
  border-radius: 120px;
  box-shadow: 0 0 10px #333;
  margin: 10px 20px 10px 50px;
}

.feature-number {
  display: block;
  font-size: 48px;
  color: rgb(108, 199, 112);
  font-weight: bold;
  padding-top: 30px;
}

.feature-h3 {
  display: block;
  font-size: 21px;
  margin: 10px 0px;
}

/* 求人案内ページ */
.recruit-form {
  width: 90%;
  height: 200px;
  margin: auto;
  background-color: rgba(220, 250, 211, 0.932);
  border-radius: 20px;
}

.recruit-form > p {
  font-size: 18px;
  text-align: center;
  padding: 60px 0 20px 0;
}

.recruit-item {
  display: flex;
  justify-content: center;
}

.recruit-type {
  width: 150px;
  margin: 10px 0;
  padding-left: 20px;
  border-bottom: 1px solid #333;
}

.recruit-notes {
  width: 800px;
  margin: 10px 0;
  padding-left: 20px;
  border-bottom: 1px solid rgb(182, 182, 182);
}

.contact {
  width: 90%;
  height: 150px;
  margin: 30px auto 50px auto;
  line-height: 2;
}

.contact h4 {
  font-size: 18px;
  padding:0 30px;
}

.contact p {
  padding-left: 50px;
}

.contact-tel {
  font-weight: bold;
}

/* お知らせページ */
#main_infomation {
  width: 65%;
  min-height: 400px;
  margin: 0 auto 100px auto;
  position: relative;
}

.infomation_main {
  margin-top: 50px;
}
.infomation_main p {
 display: inline-block;
}

.infomation_category {
  width: 80px;
  background-color: rgb(141, 233, 146);
  margin: 15px;
  border-radius: 10px;
  text-align: justify;
  text-align-last: justify;
  padding: 5px 10px;
}

.infomation_title {
  font-size: 28px;
  margin: 0 0 30px 0;
  padding: 0 50px;
}

#main_infomation > p {
  padding: 0 50px;
}

#main_infomation  img {
  width: 60px;
  height: 60px;
}

.information_link {
  display: inline-block;
   position: absolute;
   width: 160px;
   height: 35px;
   background-color: rgb(154, 151, 151);
   color: #ffffff;
   border: 2px double rgb(70, 2, 2);
   border-radius: 5px;
   text-align: center;
   padding-top: 12px;
   bottom: 0;
   right: 0;
}
/* お知らせ・防災情報のリンク */
.record_link {
  display: block;
  margin: 30px 0 0 80px;
}
}

/* SP用スタイル */
/* トップページ */
@media screen and (max-width:767px) {
  body {
    min-width: 375px;
    margin: 0;
  }

  /* PCナビ非表示 */
  #nav-pc {
    display: none;
  }

  #menu-sp {
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
  }

  #menu-sp {
    width: 11%;
  }

  #header-logo img {
    display: block;
    width: 80%;
    margin: 40px auto;
  }

  #logo-sp img {
    display: block;
    width: 80%;
    margin: 60px auto;
  }

  #header-logo > span {
    display: none;
  }

  #header-log0 > p {
    display: none;
  }
  #close {
    position: absolute;
    width: 10%;
    top: 10px;
    right: 10px;
  }
  
  /* SP用ナビゲーションの切り替え */
  h2 {
    padding: 20px 20px 10px 20px;
  }

  #nav-sp {
    background-color: rgb(70, 2, 2);
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 100;
  }

  #logo-sp {
    margin: 80px 0 30px 20px;
  }
  
  #nav-sp > a {
    display: block;
  }
  #nav-sp > a:link {
    color: #ffffff;
  }
  #nav-sp > a:visited {
    color: #ffffff;
  }
  #nav-sp > a:hover {
    color: rgb(141, 233, 146);
    text-decoration: underline;
  }
  #nav-sp > a:active {
    color: #ffffff;
  }
  #nav-sp > .menu {
    text-decoration: none;
    display: block;
    margin: 0 30px;
    height: 44px;
    font-size: 16px;
    background-image: url("/image/arrow.png");
    background-repeat: no-repeat;
    background-position: right top;
  }

  /* メインビジュアル */
  #main-visual {
    position: relative;
  }

  #main-message {
    position: absolute;
  }

  #main-visual > img {
    width: 100%;
    height: 300px;
  }

  #main-message_1 {
    width: 300px;
    background-color: rgba(64, 97, 241, 0.315);
    color: #ffffff;
    height: 270px;
    border-radius: 0 0 300px 0;
    text-align: center;
    padding-top: 30px;
  }

  /* お知らせ */
  #information {
    width: 80%;
    padding: 0 20px 30px 20px;
    margin: 30px auto 10px auto;
    background-color: rgba(220, 250, 211, 0.932);
    border-radius: 30px;
  }
  
  .news-list {
    list-style: none outside;
    margin: auto;
    padding: 0;
  }
  
  .item a {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid rgb(182, 182, 182);
    padding: 20px 20px;
    background-color: #ffffff;
  }
  
  .item:first-child a {
    border-top: 1px solid rgb(182, 182, 182);
  }
  
  .item .date {
    margin: 0;
    font-size: 16px;
    color: #999;
    padding: 0 20px 0 0;
  }
  
  .item .category {
    margin: 0 0 15px 0;
    padding: 0 20px 0 0;
  }
  
  .item .category span {
    background-color: #999;
    width: 60px;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    padding: 5px 20px;
    font-size: 12px;
    line-height: 1;
    text-align: justify;
    text-align-last: justify;
  }
  
  .item .title {
    margin: 0;
    width: 100%;
  }
  
  .item a:hover .title {
    color: rgb(55, 180, 61);
  }

  /* 診療案内 */
#examination_guide {
  width: 100%;
  margin-top: 30px;
}

.guide_left {
  width: 100%;
  height: 500px;
  margin: 0 auto 20px auto;
  position: relative;
  background-color: rgb(55, 180, 61);
  text-align: center;
}

.guide_right {
  width: 100%;
  height: 500px;
  margin: 0 auto 20px auto;
  position: relative;
  background-color: rgb(55, 180, 61);
  text-align: center;
}

.guide_name_left {
  width: 100%;
  padding-top: 10px;
  margin: auto;
  font-size: 24px;
  color: #ffffff;
  z-index: 1;
  text-align: center;
}

.guide_name_right {
  width: 100%;
  padding-top: 10px;
  font-size: 24px;
  color: #ffffff;
  z-index: 1;
  text-align: center;
}

.guide_name h4 {
  margin-top: 0;
  padding-top: 10px;
}

#guide img {
  width: 90%;
  height: 350px;
  margin: auto;
  box-shadow: 0 0 10px #999;
  z-index: 2;
  border-radius: 30px;
}

.guide_content_left {
  margin: 15px 0;
  padding: 0 20px;
  color: #ffffff;
}

.guide_content_right {
  margin: 15px 0;
  padding: 0 20px;
  color: #ffffff;
}

.guide_content_p {
  font-weight: bold;
}

/* 診療時間 */
#examination_hours {
  margin: 0 auto;
  width: 100%;
}
#guide_hours {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hours-p {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.hours-1 {
  width: 100%;
  margin: 20px 0;
}

.hours-1 > span {
  padding-left: 21px;
  display: block;
  line-height: 1.8;
}

.timetable {
  border-collapse: collapse;
  margin: auto;
}

.timetable > tbody > tr > th {
  text-align: center;
  padding: 0;
  border: 1px solid rgb(182, 182, 182);
}

.timetable > tbody > tr > td {
  text-align: center;
  padding: 0 12px;
  border: 1px solid rgb(182, 182, 182);
}

.timetable th {
  background-color: rgb(55, 180, 61);
  color: #ffffff;
}
.reception {
  color: red;
  font-weight: bold;
  margin-left: 5px;
  }

/* 受診される方へ */

#consult {
  width: 100%;
  margin: 0 auto;
}
.initial {
  display: flex;
  flex-direction: column;
  justify-content:center;
}

.initial_left {
  width: 90%;
  padding: 0 20px;
  line-height: 1.7;
}

.initial_right {
  width: 100%;;
  padding: 15px 0 0 50px;
  border: 1.5px solid #333;
  border-radius: 30px;
  margin: 30px 0 0 30px;
}

.initial_left span {
  margin: 10px 0;
  background-color: rgba(220, 250, 211, 0.932);
  border-radius: 10px;
  width: 300px;
  padding: 2px 15px;
}

.initial_right {
  width: 100%;
  padding: 15px 0 0 50px;
  border: 1.5px solid #333;
  border-radius: 30px;
  margin: 30px 0 0 30px;
}

.initial_left span {
  margin: 10px 0;
  background-color: rgba(220, 250, 211, 0.932);
  border-radius: 10px;
  width: 300px;
  padding: 2px 15px;
}

}

