body {
  font-family: "Source Sans Pro", "Hiragino Kaku Gothic ProN", Meiryo, Arial, sans-serif;
  margin: 0 auto 0 auto;
  padding: 0;
  min-width: 1200px;
  max-width: 1850px;
}
h1 {
  margin:  0;
  padding: 0;
}

h2 {
  font-size: 28px;
  margin: 0;
  text-align: center;
  padding: 30px 40px;
  letter-spacing: 3px;
}

h3 {
  font-size: 22px;
  margin: 0;
}

h4 {
  margin: 10px 0px;
}
p {
  font-size: 16px;
  padding: 0;
  margin: 0;
}

article {
  margin: auto;
}

/* PC用のスタイル */
/* ヘッダー */
header {
  background-color: #ffffff;
}
#header-logo {
  display: flex;
  justify-content: center;
  margin: 0 50px;
}

#logo img {
  width: 290px;
  margin-right: 300px;
  padding-top: 10px;
}

.header-tel {
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
  padding-top: 10px;
}
#header-logo > div {
  position: relative;
}
#header-logo > div > p {
  color: rgb(55, 180, 61);
  font-weight: bold;
  position: absolute;
  position: absolute;
  left: 50px;
  top: 5px;
}

#header-logo > span {
  height: 50px;
}
.header-closed {
  color: red;
  font-size: 14px;
}

/* ナビゲーション */
#nav-pc {
  text-align: center;
  font-size: 16px;
  padding-bottom: 15px;
}

/* ナビゲーションリンクの装飾 */
#nav-pc > a {
  text-decoration: none;
  margin-left: 40px;
  color: #333;
}

#nav-pc > a:link {
  color: #333;
}

#nav-pc > a:visited {
  color: #333;
}
#nav-pc > a:hover {
  color:rgb(55, 180, 61);
}

#nav-pc > a:active {
  color: #333;
}

/* メインビジュアル */
#main-visual {
  position: relative;
  height: 700px;
  margin: 0;
}

#main-visual > img {
  width: 100%;
  height: 700px;
}

#main-message {
  position: absolute;
  width: 500px;
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  top: -50px;
  right: 100px;
  letter-spacing: 5px;
}

#main-message_1 {
  position: absolute;
  top: 100px;
  left: 86px;
}

#main-message_1 > p {
  padding: 20px 10px 10px 10px;
  letter-spacing: 2px;
}

/* お知らせ */
#information {
  width: 80%;
  height: 300px;
  margin: auto;
}

.news-list {
  list-style: none outside;
  margin: auto;
  padding: 0;
}

.item a {
  display: flex;
  flex-wrap: wrap;
  flex-wrap: nowrap;
  text-decoration: none;
  color: #333;
  border-bottom: 1px solid rgb(182, 182, 182);
  padding: 20px 20px;
}

.item:first-child a {
  border-top: 1px solid rgb(182, 182, 182);
}

.item .date {
  margin: 0;
  min-width: 140px;
  font-size: 16px;
  color: #999;
  padding: 0 20px 0 0;
}

.item .category {
  margin: 0;
  min-width: 140px;
  padding: 0 20px 0 0;
}

.item .category span {
  background-color: #999;
  width: 70px;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  padding: 5px 20px;
  font-size: 12px;
  line-height: 1;
  text-align: justify;
  text-align-last: justify;
}

.item .title {
  margin: 0;
  width: 100%;
}

.item a:hover .title {
  color: rgb(55, 180, 61);
}

/* 医院常用 */
#infomation-cl {
  width: 100%;
  display: flex;
}

/* 診療時間 */
#infomation-cl-left {
  width: 50%;
}

#infomation-cl-left > h3 {
  text-align: center;
}

.hyoubou {
  margin: 10px 0 0 0;
  font-size: 20px;
}

.hours-1 {
  margin: 20px 0;
  padding: 0 80px;
}

.hours-1 > span {
  padding-left: 21px;
  display: block;
  line-height: 1.8;
}

.timetable {
  border-collapse: collapse;
}

.timetable > tbody > tr > th {
  text-align: center;
  padding: 10px 15px;
  border: 1px solid rgb(182, 182, 182);
}

.timetable > tbody > tr > td {
  text-align: center;
  padding: 10px 15px;
  border: 1px solid rgb(182, 182, 182);
}

.timetable th {
  background-color: rgb(70, 2, 2);
  color: #ffffff;
}

/* 医院概要 */
.infomation-cl-right {
  width: 50%;
}

.infomation-cl-right > h3 {
  text-align: center;
}

.vision {
  margin: 40px 0 30px 100px;
  border-collapse: collapse;
}

.vision > tbody > tr > th {
  padding: 12px 20px;
  border-bottom: 1px solid rgb(70, 2, 2);
  text-align: justify;
  text-align-last: justify;
}

.vision > tbody > tr > td {
  padding: 12px 20px;
  border-bottom: 1px solid rgb(182, 182, 182);
}

#feature-1 {
  width: 100%;
  display: flex;
}

.feature-content {
  width: 50%;
}

#feature-1 > img {
  width: 40%;
}


/* アクセス */
#access {
  width: 100%;
  height: 700px;
}

.access-way {
  display: flex;
  margin-top: 20px;
}

.access-way_1 {
  display: flex;
  width: 500px;
  height: 100px;
  margin-left: 30px;
}

.access-way_1 > img {
  width: 100px;
  border-radius: 50%;
}

.access-way_1 > span {
  margin-left: 20px;
  padding-top: 17px;
}

/* フッター */
footer {
  width: 100%;
  height: 110px;
  margin-top: 20px;
  background-color: rgb(70, 2, 2);
}

.footer-logo {
  font-weight: bold;
  font-size: 22px;
  padding-top: 15px;
  text-align: center;
  color: #ffffff;
}

/* 医院紹介ページ */
.submain-image {
  display: flex;
  position: relative;
  height: 355px;
}
.submain-image_inner {
  width: 55%;
  height: 300px;
  background-color: rgb(108, 199, 112);
  position: absolute;
  left: 0px;
  border-radius: 0 0 320px 0;
  z-index: 2;
}

.submain-image_inner > div {
  color: #ffffff;
  position: absolute;
  top: 180px;
  left: 229px;
}

.submain-image_inner > h1 {
  top: 110px;
  left: 225px;
  color: #ffffff;
  font-size: 45px;
  position: absolute;
}

.submain-image > img {
  width: 55%;
  right: 0px;
  height: 350px;
  position: absolute;
  border-radius: 320px 0 0 0;
  z-index: 1;
}

/* 医院の特徴 */
#feature > div > div {
  width: 780px;
  height: 275px;
  margin: auto;
}

.feature-img-left {
  float: left;
  width: 250px;
  height: 250px;
  border-radius: 120px;
  box-shadow: 0 0 10px #333;
  margin: 10px 50px 10px 20px;
}

.feature-number {
  display: block;
  font-size: 48px;
  color: rgb(108, 199, 112);
  font-weight: bold;
  padding-top: 30px;
}

.feature-h3 {
  display: block;
  font-size: 21px;
  margin: 10px 0px;
}

.feature-p {
  margin: 0;
}

.feature-img-right {
  float: right;
  width: 250px;
  height: 250px;
  border-radius: 120px;
  box-shadow: 0 0 10px #333;
  margin: 10px 20px 10px 50px;
}

.feature-number {
  display: block;
  font-size: 48px;
  color: rgb(108, 199, 112);
  font-weight: bold;
  padding-top: 30px;
}

.feature-h3 {
  display: block;
  font-size: 21px;
  margin: 10px 0px;
}
/* 院長紹介 */

#docter-file {
  width: 1000px;
  height: 390px;
  margin: auto;
}

.docter-img {
  float: right;
  width: 450px;
  height: 370px;
  box-shadow: 10px 10px 0 rgb(182, 182, 182);
  margin-left: 50px;
}

.docter-name {
  font-size: 21px;
}

.docter-birth {
  margin: 30px 0 70px 0;
}

/* 経歴・専門医・所属学会 */
#career {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
  background-color: rgb(255, 246, 242);
}

.career-h3 {
  margin-top: 30px;
}

.career-left {
  width: 350px;
  margin:0 120px 30px 50px;
}

.career-dl > dt {
  float: left;
  line-height: 2;
}

.career-dl > dd {
  margin-left: 100px;
  line-height: 2;
}

.career-right {
  width: 350px;
}

.career-right ul {
  line-height: 2;
}

/* 求人募集 */
.recruit-form {
  width: 90%;
  height: 300px;
  margin: auto;
  background-color: rgb(255, 246, 242);
}

.recruit-form > p {
  font-size: 18px;
  padding-top: 20px;
  text-align: center;
  padding: 30px 0 20px 0;
}

.recruit-item {
  display: flex;
  justify-content: center;
}

.recruit-type {
  width: 150px;
  margin: 10px 0;
  padding-left: 20px;
  border-bottom: 1px solid #333;
}

.recruit-notes {
  width: 800px;
  margin: 10px 0;
  padding-left: 20px;
  border-bottom: 1px solid rgb(182, 182, 182);
}

.contact {
  width: 90%;
  height: 150px;
  margin: 30px auto 50px auto;
  line-height: 2;
}

.contact h4 {
  font-size: 18px;
  padding:0 30px;
}

.contact p {
  padding-left: 50px;
}

.contact-tel {
  font-weight: bold;
}